xml/namespace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://fake.com/ns1">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" maxOccurs="1"/>
                <xs:element name="text" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
